$Inter-Bold: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/a/a197eb37acbe6c839d9a549a08fe80bb8a39d6aa.woff2"
);
$Inter-BoldItalic: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/9/9d433655544762bd3d47e1dbe883d368dee3ea9f.woff2"
);
$Inter-Italic: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/e/e8877937d0b862d8e743d9172576047a05faf11e.woff2"
);
$Inter-Medium: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/8/85bd69c6604c42cd7cff42f69686ae9f5765b09c.woff2"
);
$Inter-MediumItalic: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/f/fb3bf6cadab86352a454f3e2754a04a680d45d6e.woff2"
);
$Inter-Regular: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/d/d54ba8fa95573fa24442dab96795eaf8db66aa80.woff2"
);
$Inter-SemiBold: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/3/3e4531452e8ed6b6ddeb7a9c53c8e09f3575c006.woff2"
);
$Inter-SemiBoldItalic: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/8/824995d8e9586f26e1b867904d542ca787ae1d38.woff2"
);
$Inter-Var-Italic: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/5/5c2ff0c81a369e4ff3b060b5eeee59e82058a41e.woff2"
);
$Inter-Var-Roman: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/0/03d67f11d4c6bcdd6182f0bcebb26d11e8c13dd3.woff2"
);
$mobile-beta: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/c/caf27ddc3497bb0e5c35ed9420c1b0298921bac4.svg"
);
$plugin-api: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/7/7975c39fb41e8b6572648c86025a4a0c682e3538.svg"
);
$product-ideas: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/1/1010e9bca59e19899a166d4594d25bccf3c6408c.svg"
);
$product-questions: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/5/592ed6ed8ea526c61f524f92e221a8918e5323ac.svg"
);
$rest-api: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/2X/8/8aa7b09cfc5606cb812a174114c76b5b8a96cf58.svg"
);
$zendesk-icon: unquote(
  "https://aws1.discourse-cdn.com/business7/uploads/figma3/original/1X/314083583b5555490fe4b44f742725a8eb0a5d53.svg"
);

/* Inter variable */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url($Inter-Regular) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url($Inter-Italic) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url($Inter-Medium) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url($Inter-MediumItalic) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url($Inter-SemiBold) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url($Inter-SemiBoldItalic) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url($Inter-Bold) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url($Inter-BoldItalic) format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url($Inter-Var-Roman) format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url($Inter-Var-Italic) format("woff2");
}

/* This catches any cases in Discourse that aren't covered by the HTML
tag below */
$font-stack: "Inter", sans-serif;

:root {
  --heading-font-family: $font-stack;
  --font-family: $font-stack;
}

/* Some of these are not broadly supported, but the settings were taken
from our static marketing site https://www.figma.com/ */
html {
  font-family: $font-stack;
  font-size: 16px;
  /* These control the user settings for text size */
  &.text-size-smaller {
    font-size: 14px;
  }
  &.text-size-larger {
    font-size: 18px;
  }
  &.text-size-largest {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-stack;
}

img.emoji {
  font-size: 16px;
  height: 1.25em;
  width: 1.25em;
}